* {
    padding: 0;
    margin: 0;
}

/* Navigation Bar */
header {
    background-color: aqua;
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3vw;
    margin-right: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}

.nav ul:hover {
    font-size: large;
}

.nav img {
    margin-left: 3vw;
    margin-top: 1vh;
    height: 8vh;
}

/* Main Content */

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.h1 {
    background-color: #bcd4ee;
    padding: 10px 40px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 30px
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.input label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {

    max-width: 100%;
    height: auto;
}

.box1 {
    margin-top: 10px;
    text-align: right;
    width: 100%;
    max-width: 300px;
}



.box2 {
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 300px;
    width: 100%;
}

/* Footer */
footer {
    background-color: blue;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

/* Responsive */

@media screen and (min-width:768px) {
    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .left img {
        width: 25opx;
    }

    .right {
        max-width: 400px;
    }


}